<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.niit.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.niit.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.niit.controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Singup</servlet-name>
        <servlet-class>com.niit.controller.Singup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.niit.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegister</servlet-name>
        <servlet-class>com.niit.controller.StudentRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcourse</servlet-name>
        <servlet-class>com.niit.controller.addcourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Batch</servlet-name>
        <servlet-class>com.niit.controller.Batch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudentinBatch</servlet-name>
        <servlet-class>com.niit.controller.addStudentinBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendence</servlet-name>
        <servlet-class>com.niit.controller.Attendence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutTech</servlet-name>
        <servlet-class>com.niit.controller.LogoutTech</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCourse</servlet-name>
        <servlet-class>com.niit.controller.updateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>com.niit.controller.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBatch</servlet-name>
        <servlet-class>com.niit.controller.DeleteBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>com.niit.controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBatch</servlet-name>
        <servlet-class>com.niit.controller.UpdateBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTechmenter</servlet-name>
        <servlet-class>com.niit.controller.DeleteTechmenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTechmenter</servlet-name>
        <servlet-class>com.niit.controller.UpdateTechmenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendenceDelete</servlet-name>
        <servlet-class>com.niit.controller.AttendenceDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.niit.controller.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Singup</servlet-name>
        <url-pattern>/Singup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegister</servlet-name>
        <url-pattern>/StudentRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcourse</servlet-name>
        <url-pattern>/addcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Batch</servlet-name>
        <url-pattern>/Batch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudentinBatch</servlet-name>
        <url-pattern>/addStudentinBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendence</servlet-name>
        <url-pattern>/Attendence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutTech</servlet-name>
        <url-pattern>/LogoutTech</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCourse</servlet-name>
        <url-pattern>/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBatch</servlet-name>
        <url-pattern>/DeleteBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBatch</servlet-name>
        <url-pattern>/UpdateBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTechmenter</servlet-name>
        <url-pattern>/DeleteTechmenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTechmenter</servlet-name>
        <url-pattern>/UpdateTechmenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendenceDelete</servlet-name>
        <url-pattern>/AttendenceDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
    <param-name>Username</param-name>
    <param-value>Dinbandhu</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value>Kumar</param-value>
  </context-param>
</web-app>
